---
import SecHeader from "../../components/SecHeader.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import { getAboutSec } from "../../data/api";
import { urlFor } from "../../utils/image";
import { PortableText } from "astro-portabletext";

const about = await getAboutSec();

---

<SectionLayout backGround="black" textColor="white" className="about-sec">
  <div class="title">
    <h2>{about.title}</h2>
  </div>

  {
    about.content.map(
      (entry) =>
        entry._type === "body" ? (
          <p class="text">{entry.value}</p>
          // <PortableText value={entry.value}></PortableText>
        ) : entry._type === "subheading" ? (
          <SecHeader color="white" title={entry.value} />
        ) : entry._type === "image" ? (
          <div>
            <img
              class="inline-img"
              src={entry.asset ? urlFor(entry.asset).url() : ""}
              alt={entry?.alt}
            />
            <captio class="small-caption">{entry?.caption}</captio>
          </div>
        ) : null // You might want to handle other cases or return null for unrecognized types
    )
  }
</SectionLayout>
<style lang="scss">
  .title,
  .section-header {
    max-width: 1080px;

    @media screen and (max-width: 64rem) {
      max-width: 40rem;
    }
    @media screen and (max-width: 48rem) {
      max-width: 30rem;
    }
  }
</style>
