---
import SecHeader from "../../components/SecHeader.astro";
import AboutLayout from "../../layouts/AboutLayout.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import { getFunder } from "../../data/api";
import { urlFor } from "../../utils/image";
import { PortableText } from "astro-portabletext";

const funder = await getFunder();
---
<AboutLayout
pageTitle={funder.title}
currentIndex={1}
>  
<SectionLayout
  backGround="var(--purple)"
  textColor="var(--black)"
  className="funder"
  barbaName={funder.title}
>
<h1 class="title">{funder.title}</h1>

  <div class="banner">
    {
      funder.coverImage.asset && (
        <img
          class="cover-image"
          src={urlFor(funder.coverImage.asset).url()}
          alt={funder.coverImage.alt}
        />
      )
    }
    <PortableText value={funder.body} />
    {
      funder.funders && (
        <SecHeader title="Major Funders" />
        <div class="list-funders">
        {funder.funders.map((entry) =>
            entry.isMajorFunder && (
              entry.logo.asset && (
                  <img class="funder-logo" src={urlFor(entry.logo.asset).url()} alt={entry.logo.alt} />
                  <p>{entry.name}</p>
              )
            )
        )}
        </div>
      )
     }
      {
        funder.funders && (
        <SecHeader title="Funders" />
            <div class="list-funders">
                {funder.funders.map((entry) => !entry.isMajorFunder && <p>{entry.name}</p>)}
            </div>
        )
     }
  </div>
</SectionLayout>
</AboutLayout>
<style lang="scss">
  .list-funders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
</style>
