---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import ArtistLayout from "../../layouts/ArtistLayout.astro";
import CTA from "../../components/CTA.astro";
import { getArtistBySlug, getArtists } from "../../data/api";
import { urlFor } from "../../utils/image";
import FrontCaption from "../../components/FrontCaption.astro";

export async function getStaticPaths() {
  const artists = await getArtists();
  return artists.map((artist) => ({ params: { slug: artist.slug.current } }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const artist = await getArtistBySlug(slug);
---

<ArtistLayout
  pageTitle={artist.name}
  bannerSrc={urlFor(artist.image)?.url()}
  credits={artist.imageCredit}
  ctas={artist.links}
>
{ artist.frontCaptions && (
  <FrontCaption frontCaptions={artist.frontCaptions} />
  )}
  <section class="body-copy">
    <PortableText value={artist.bio} />
  </section>
</ArtistLayout>
