---
import SideTab from "../components/SideTab.astro";
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import Form from "../components/Form.astro";
import { getVisit } from "../data/api";

const visit = await getVisit();
---

<Layout title="Visit Us">
  <div data-top>
    <article id="none" data-wrapper>
      <SideTab text="Visit" href="/visit/" style="department" />

      <main data-main>
        <h1 class="title">Visit Asian Arts Initiative</h1>
        <ul class="list">
          <li class="list-item">
            <h2>{visit.address}</h2>
          </li>
          <li class="list-item">
            <h2>{visit.phone}</h2>
          </li>
          {
            visit.ctafields.map((cta) => {
              return (
                <li class="list-item">
                  <h2>{cta.displayTitle}</h2>
                  {cta.cta ? (
                    <CTA
                      type="default"
                      text={cta.cta.value}
                      linkHref={cta.cta.url}
                    />
                  ) : null}
                  {cta.embed ? (
                    <div class="map-embed">
                      <iframe
                        src={cta.embed.url}
                        width="800"
                        height="800"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                      />
                    </div>
                  ) : null}
                  {cta.body ? (
                    <PortableText value={cta.body} class="collapsed" />
                  ) : null}
                </li>
              );
            })
          }
          {
            visit.forms.map((form) => {
              return (
                <li class="list-item">
                  <Form _ref={form._ref} />
                </li>
              );
            })
          }
        </ul>
      </main>
    </article>
  </div>
</Layout>
<style type="scss">
  [data-top] {
    [data-wrapper] {
      width: 100vw;
      min-height: 100vh;

      display: flex;
      flex-direction: row;
      position: sticky;
      top: 45px;
      left: 0;

      [data-main] {
        padding: 40px;
        width: 100%;

        display: flex;
        flex-direction: column;

        .title {
          margin-bottom: 200px;
        }
        .list {
          padding: 4rem 0;
        }
        .list-item:last-child {
          border-bottom: 1px solid var(--black);
        }
        .list-item {
          border-top: 1px solid var(--black);
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 1rem;
          // cursor: pointer;

          h2 {
            width: fit-content;
          }
          }
        }
      }
    }
  }

  .collapsed {
    max-width: 800px;
    margin: 1rem 0;

    [data-form] {
      padding: 4rem 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      .caption {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .CTA-wrapper {
    display: flex;
    gap: 0;
  }
  *>p>a {
    border-bottom: 2px solid black;
    cursor: pointer default;
  }
</style>

<script async>
document.addEventListener("DOMContentLoaded", (event) => {
  const listItems = document.querySelectorAll(".list-item");

  listItems.forEach((item) => {
    const body = item.querySelector(".collapsed");
    const title = item.querySelector("h2");

    if (body) {
      title.style.cursor = "pointer"
      body.style.display = "none";

      title.addEventListener("click", () => {
        if (body.style.display === "none") {
          body.style.display = "block";
        } else {
          body.style.display = "none";
        }
      });
    }
  });
  });
</script>
