---
import type { InferGetStaticParamsType } from "astro";

import { PortableText } from "astro-portabletext";
import NewsLayout from "../../layouts/NewsLayout.astro";
import { getNews, getNewsBySlug } from "../../data/api";
import { urlFor } from "../../utils/image";
import { formatDate } from "../../utils/dateFormatting.js";

export async function getStaticPaths() {
 const newsArray = await getNews();
 return newsArray
   .filter(news => news.slug && news.slug.current) // Filter out news items without a slug.current property
   .map((news) => ({
     params: { slug: news.slug.current },
   }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;


const news = await getNewsBySlug(slug);
---
<NewsLayout
pageTitle={news.title} 
coverImage={urlFor(news.coverImage.asset).url()}
coverAlt={news.coverImage.alt} 
>
<div  class="caption">
    {formatDate(news.publishedAt)}
</div>

  <PortableText value={news.body} />

</NewsLayout>