---
interface CTA {
  type: 'default' | 'outstanding' | 'text';
  text: string;
  action: string;
}

const { type, text, action }: CTAProps = Astro.props;
---

<a class={`CTA-${type}`}>
  <h2>{text}</h2>
  <span>{action}</span>
</a>


<div class="CTA-wrapper">
    {
      ctas.map((cta: CTA) => (
        <div class="CTA-outstanding">
          <h2>{cta.text}</h2>
          <a class="CTA-link">
            <h2 class="action-text">{cta.action}</h2>
          </a>
        </div>
      ))
    }
  </div>
  

<style>
  .CTA-default {
    /* Default CTA styles */
  }

  .CTA-outstanding {
    /* Outstanding CTA styles */
  }

  .CTA-text {
    /* Text CTA styles */
  }
</style>
