---
import { getProgramByRef } from "../data/api";
import { formatDateRange } from "../utils/dateFormatting";
import { urlFor } from "../utils/image";

interface Param {
  pgRef: string;
  key: number;
}

const { pgRef }: Param = Astro.props as Param;
const { name, coverImage, eventTypes, type, startDateTime, endDateTime, slug } =
  await getProgramByRef(pgRef);

function toTitleCase(str: string) {
  const titleCase = str
    .toLowerCase()
    .split("-")
    .map((word: string) => {
      return word.charAt(0).toUpperCase() + word.slice(1);
    })
    .join(" ");
  return titleCase;
}
---

  <div class="program-carousel-container">
    <a class="program-card" href={`/programs/${slug.current}`}>
      <img class="card-img" src={urlFor(coverImage).url()} alt={name} />
      <div class="description-hidden">
        <p class="caption event-type">
          {type}
          {
            eventTypes?.length > 0 &&
              eventTypes.map((eventType, index) => (
                <span>
                  {index === 0 && <span> | </span>}
                  {toTitleCase(eventType)}
                  {index !== eventTypes.length - 1 && <span>, </span>}
                </span>
              ))
          }
        </p>
        <h4 class="program-card-title">{name}</h4>
        <p class="caption date">
          {formatDateRange(`${startDateTime}—${endDateTime}`)}
        </p>
      </div>
    </a>
  </div>

<style type="scss">

    .program-carousel-container {
      flex: 0 0 100%;
      width: 100vw;
      height: fit-content;
      display: flex;
      justify-content: center;
      transition: transform 0.5s ease;

      .program-card {
        max-width: 80%;
        height: 400px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        .card-img {
          object-fit: contain;
          height: 100%;
          width: auto;
        }
      }
    }

.description-hidden{
display: none;
}
  // }
</style>

