---
import { getProgramByRef, getTagByRef } from "../data/api";
import type { Ticket } from "../data/types";
import CTA from "./CTA.astro";
import { urlFor } from "../utils/image";
import { formatDateRange } from "../utils/dateFormatting.js";

interface Props {
  ticket: Ticket;
}

const { ticket } = Astro.props as Props;
const programFetched = await getProgramByRef(ticket.program._ref);
const tagFecteched = await getTagByRef(ticket.eventType._ref);

// console.log(programFetched.coverImage)
---

<div class="ticket-card">
  <div class="ticket__left">
    <div>
      <h4>{ticket.title}</h4>
      <!-- <p class="gray-out ">{tagFecteched.tag}</p> -->
    </div>
    <div>
      <p class="small-caption">
        {formatDateRange(`${ticket.startDateTime}—${ticket.endDateTime}`)}
        <br />
        {ticket.price}
      </p>
      <CTA
        invert
        type="default"
        text="Get Tickets"
        linkHref={ticket.getTicket}
      />
    </div>
  </div>
  <img
    src={programFetched.coverImage
      ? urlFor(programFetched.coverImage).url()
      : ""}
    alt=""
  />
</div>

<style lang="scss">
  .ticket-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 320px;
    padding: var(--s-margin) 0;
    gap: var(--l-margin);

    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: fit-content;
    }
  }

  .ticket__left {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    width: 50%;

    justify-content: space-between;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .small-caption {
    margin: var(--s-margin) 0;
  }
  img {
    max-width: 480px;
    max-height: 320px;
    height: 100%;

    object-fit: cover;

    @media screen and (max-width: 1024px) {
      max-width: 320px;
      max-height: 216px;
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
      max-height: 100%;
    }
  }
</style>
