---
import BasicLayout from "../layouts/Layout.astro";
import "../scss/main.scss";
import CTA from "../components/CTA.astro";
import SideTab from "../components/SideTab.astro";
import FrontCaption from "../components/FrontCaption.astro";

import testData from "../data/pgData.js"


interface Props {
  pageTitle: string;
  bannerSrc: string;
}

const { pageTitle, bannerSrc } = Astro.props as Props;
---

<BasicLayout title={pageTitle}>
  <div class="top">
    <SideTab text="Programs" href="/programs/" style="department"/>

    <main>
      <h1 class="title">{pageTitle}</h1>
      <div class="banner">
        <img src={bannerSrc} alt="Banner image" />

        <CTA
          ctas={[
            {
              text: "Get tickets",
              href: "/tickets",
            },
            {
              text: "RSVP",
              href: "https://www.eventbrite.com/",
            },
            {
              text: "Download press kit",
              href: "/press.pdf",
            },
          ]}
        />
      </div>

      <FrontCaption
        frontCaptions={[
          {
            title: { pageTitle },
            items: [
              "Exhibition",
              "Explicit, Arts in Philadelphia, Social Practice",
            ],
          },
          {
            title: "Dates",
            items: ["April 14–May 30, 2023"],
          },
          {
            title: "Curator",
            items: ["Aubrié Costello"],
          },
          {
            title: "Artists",
            items: [
              "Aura Rosenberg",
              "Jaishri Abichandani",
              "Lanica Angpak",
              "Elia Alba",
              "Mequitta Ahuja",
            ],
          },
        ]}
      />
      <slot />

      <div class="CTA-wrapper">
        {
        testData.map((item) => (
        
        <CTA
        type="outstanding"
        text={item.text}
        action={item.hasLink}
        linkText={item.linkText}
        linkHref={item.linkHref}
        />
        ))}
        </div>
    </main>
  </div>
</BasicLayout>

<style lang="scss" is:global>
  html {
    font-family: system-ui, sans-serif;
    background: var(--white);
    background-size: 224px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  // Side Tab Area
  .top {
    display: flex;
  }
  main {
    flex: 1;
  }

  .banner,
  .body-copy {
    width: 100%;
    max-width: 800px;

    @media screen and (max-width: 64rem) {
      max-width: 40rem;
    }
    @media screen and (max-width: 48rem) {
      max-width: 30rem;
      margin: 0 16px;
    }

    @media screen and (max-width: 35.5rem) {
      background-color: red;
      width: calc(100% - 4.4rem);
      margin: 0 16px;
    }
    @media screen and (max-width: 24.375rem) {
      width: calc(100% - 32px);
      margin: 0 16px;
    }

    display: flex;
    flex-direction: column;
  }
  .title {
    margin: 40px;
    @media screen and (max-width: 64rem) {
      margin: 32px;
    }
    @media screen and (max-width: 48rem) {
      margin: 16px;
    }
    @media screen and (max-width: 24.375rem) {
      margin: 16px;
    }
  }

  .banner {
    margin: 6.25rem auto;
    gap: 1.25rem;

    @media screen and (max-width: 24.375rem) {
      margin: 2.5rem auto;
    }
  }

  .body-copy {
    margin: 6.25rem auto;
    display: flex;
    flex-direction: column;
    gap: 2em 0;
  }
</style>
