---
import BasicLayout from "../layouts/Layout.astro";
import "../scss/main.scss";
import CTA from "../components/CTA.astro";
import SideTab from "../components/SideTab.astro";
import FrontCaption from "../components/FrontCaption.astro";
import type { Entry } from "../data/types";
import Tag from "../components/Tag.astro";

interface Props {
  pageTitle: string;
  bannerSrc: string;
  ctas: Entry[];
  frontCaptions: Entry[];
  tags: {
    _ref: string;
  }[];
}

const { pageTitle, bannerSrc, ctas, frontCaptions, tags } =
  Astro.props as Props;
---

<BasicLayout title={pageTitle}>
  <div class="top">
    <SideTab text="Programs" href="/programs/" style="department" />

    <main>
      <h1 class="title">{pageTitle}</h1>
      <div class="banner">
        <img class="cover-image" src={bannerSrc} alt={pageTitle} />
      </div>

      <div class="tag-wrapper">
        {tags?.map((tag) => <Tag tagRef={tag._ref} />)}
      </div>

      {
        (ctas && ctas.length > 0) ? (
          <div class="CTA-wrapper">
            {ctas.map((cta: Entry) => (
              <CTA
                type="default"
                text={cta.displayTitle}
                value={cta.value}
                chooseFile={cta.chooseFile}
              />
            ))}
          </div>
        ) : null
      }


      {frontCaptions? (<FrontCaption frontCaptions={frontCaptions} />) : null}
      <slot />
    </main>
  </div>
</BasicLayout>

<style lang="scss" is:global>
  html {
    font-family: system-ui, sans-serif;
    background: var(--white);
    background-size: 224px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  // Side Tab Area
  .top {
    display: flex;
  }
  main {
    flex: 1;

    .title {
      line-height: 0.75;
      padding: var(--l-margin);
    }
  }

  .banner,
  .body-copy {
    width: 100%;
    max-width: var(--inner-max-width);
    // margin: 0 16px;
    display: flex;
    flex-direction: column;
  }

  .banner {
    margin: var(--s-margin) auto;
    gap: var(--s-margin);
  }

  .body-copy {
    margin: var(--s-margin) auto;
    display: flex;
    flex-direction: column;
    gap: 2em 0;
  }

  .CTA-wrapper {
    width: 100%;
    max-width: var(--inner-max-width);

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--s-margin) auto;

    * {
      width: 100%;
      height: 100%;
      border: none;
      box-shadow: 0 0 0 1px var(--black);
    }
  }
</style>
