---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import EducationLayout from "../../layouts/EducationLayout.astro";
import { getEducations, getEducationBySlug } from "../../data/api";
import { urlFor } from "../../utils/image";
import Carousel from "../../components/Carousel.astro";
import SecHeader from "../../components/SecHeader.astro";

export async function getStaticPaths() {
  const education = await getEducations();
  return education.map((edu) => ({
    params: { slug: edu.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const education = await getEducationBySlug(slug);
---
<EducationLayout
  pageTitle={education.title}
  bannerSrc={education.coverImage ? urlFor(education.coverImage).url() : ""}
  ctas={education.cta}
  frontCaptions={education.frontCaptions}
>
  <div class="banner">
    <PortableText value={education.body} />
  </div>
  
{education.images && (
    <SecHeader title = "Archive" />
  <Carousel
  images={education.images}
  alt={education.images.map((image) => image.alt)}
  >
  </Carousel>
)}

</EducationLayout>

